# to jest komentarz - bêdzie ignorowany
*.mdf 		 # nie dla plików *.rozszerzenie
*.LDF
*.cache
*.suo
*.stackdump     
Kopera/App_Data/
Kopera/bin/    # ignoruj wszystkie pliki w katalogu build/
Kopera/obj/